@model MultiMap.Data.Models.Bygg

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bygg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beskrivelse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beskrivelse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntallEtasje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntallEtasje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Byggeår)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Byggeår)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokasjon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokasjon.Navn)
        </dd>
     
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
